body {
	font-family: var(--wp-body-font);
	font-weight: $weight-regular;
	line-height: 1.5;
	color: var(--wp-text-color);
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
	letter-spacing: $letter-spacing-heading;	
	font-family: var(--wp-heading-font);
	font-weight: $weight-bold;

	mark{
		padding: 0;
	}
}

@mixin h1-styling {
	font-size: var(--wp-h1-font-size);
	line-height: 1.1;
	font-weight: $weight-extrabold;
}

h1,.h1 {
	@include h1-styling;
}

@mixin h2-styling {
	line-height: 1.15;
	font-size: var(--wp-h2-font-size);
	color: var(--wp-brand-color);
	font-weight: $weight-bold;	
}

h2,.h2 {
	@include h2-styling;
}

@mixin h3-styling {
	line-height: 1.2;
	font-size: var(--wp-h3-font-size);
	font-weight: $weight-bold;
}

h3,.h3 {
	@include h3-styling;
}

@mixin h4-styling {
	line-height: 1.25;
	font-size: var(--wp-h4-font-size);
	font-weight: $weight-bold;
}

h4,.h4 {
	@include h4-styling;
}

@mixin h5-styling {
	line-height: 1.3;
	font-size: var(--wp-h5-font-size);
	font-weight: $weight-bold;
}

h5,.h5 {
	@include h5-styling;	
}

@mixin h6-styling {
	line-height: 1.35;
	font-size: var(--wp-h6-font-size);
	font-weight: $weight-regular;
}

h6,.h6 {
	@include h6-styling;
}

:where(p, li, span, a, small, em, strong, code, blockquote, figcaption) {
  color: var(--wp-text-color);
}

.text-medium, .text-medium * {
	font-size: 0.875rem;
	letter-spacing: $letter-spacing-body;
}

.text-small, .text-small * {
	font-size: 0.75rem;
	line-height: 140%;
	letter-spacing: $letter-spacing-body;
}

p, li, span, address {
	color: var(--wp-text-color);
	font-size: var(--wp-body-size);
}

a {
	color: var(--wp-link-color);
}
a:hover { color: var(--wp-link-hover-color); }
